@model BusTrackerDomain.Entity.ServiceInfo

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ServiceInfo</title>
</head>
<body>
    <p>
        @Model.Service.ServiceName (@Model.Service.ServiceId)
    </p>
    <table>
        <tr>
            <th>Station</th>
            <th>Return Id</th>
            <th>Return Time</th>
            <th>Return Delay</th>
            <th>Return Id</th>
            <th>Return Time</th>
            <th>Return Delay</th>
        </tr>

        @foreach (var item in Model.ServiceStationInfos)
        {
            <tr>
                <td>@item.Station.Name (@item.Station.Id)</td>

                @if (item.NextReturn != null)
                {
                    <td>@item.NextReturn.RouteId</td>
                    <td>@item.NextReturn.DepartureTime</td>
                    <td>@item.NextReturn.Delay</td>
                }
                else
                {
                    <td></td>
                    <td></td>
                    <td></td>
                }

                @if (item.NextTo != null)
                {
                    <td>@item.NextTo.RouteId</td>
                    <td>@item.NextTo.DepartureTime</td>
                    <td>@item.NextTo.Delay</td>
                }
                else
                {
                    <td></td>
                    <td></td>
                    <td></td>
                }
            </tr>
        }

    </table>
</body>
</html>
